/* UTILITY */
* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

.bg_blue {
  background: #0C325A;
}

.bg_green {
  background: #7CBB02;
}

.bg_grey {
  background: #D3D3D3;
}

.border_top {
  border-top: 1px solid lightgrey;
}
/* /UTILITY */

#site_header {
  height: 550px;
}

#site_footer {
  height: 150px;
  padding: 50px;;
}

.container {
  width: 80%;
  /* height: 100%; */
  margin: auto;
}

/*   SEZIONE NAVBAR */
.navbar {
  height: 80px;
  font-size: 11px;
  text-transform: uppercase;
}

.navbar::after {
  content: "";
  display: table;
  clear: both;
}

.navbar a {
  color: white;
  text-decoration: none;
}

.menu_left a:hover {
  color: orange;
}

.logo, .menu_left, .menu_right {
  float: left;
  color: white;
  line-height: 80px;
}

.logo {
  width: 15%;
  height: 100%;
  background-image: url('../img/logo.svg');
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: 0 39%;
}

.menu_left {
  width: 55%;
}

.menu_left a, .menu_right a {
  padding: 10px;
}

.menu_right {
  width: 30%;
  text-align: right;
}

#btn_border {
  border: 1px solid white;
  border-radius: 10px;
  padding: 10px 40px;
}

/* SEZIONE HERO */
.hero_image {
  position: relative;
  height: calc(550px - 80px);
}

.hero_text {
  width: 50%;
  color: white;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.hero_text h1 {
  font-size: 3.5em;
  font-weight: 500;
  margin-bottom: 50px;
}

.btn {
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 10px;
  padding: 20px 10px;
}

.hero_container {
  background-image: url('../img/banner_header.png');
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: 106% 110%;
}

/* SEZIONE MAIN */
#row_special {
  text-align: center;
  padding: 40px;
}

div#row_special h3 {
  font-size: 1.75em;
  margin-bottom: 10px;
}

div#row_special p {
  font-size: 1.25em;
  color: grey;
}
.row::after {
  content: "";
  display: table;
  clear: both;
}

.row {
  padding-top: 40px;
}

.col_3 {
  float: left;
  width: 33.33%;
  text-align: center;
  padding: 40px;
}

div.col_3 img {
  height: 150px;
  margin-bottom: 20px;
}

div.col_3 h4 {
  color: #7CBB02;
  font-size: 1.65em;
  font-weight: 500;
  padding-bottom: 15px;
  border-bottom: 1px solid grey;
}

div.col_3 p {
  font-size: 1.2em;
  margin-top: 15px;
  line-height: 1.5em;
  color: grey;
}
.col_2 {
  float: left;
  width: 50%;
  padding: 5%;
}

div.col_2 h3 {
  font-size: 2em;
  width: 65%;
}

div.col_2 p {
  width: 65%;
  font-size: 1.25em;
  color: grey;
  line-height: 1.5em;
  margin: 15px 0;
}

div.col_2 a {
  color: #5586BC;
}

/* SEZIONE FOOTER */
.footer_left, .footer_right {
  display: inline-block;
  width: 49%;
}

.footer_right {
  text-align: right;
}

.footer_left h2 {
  font-size: 2em;
}

.footer_right span, .footer_right select {
  font-size: 1.25em;
  color: grey;
  font-weight: 600;
}

.selection {
  width: 25%;
  margin: 0 50px;
  border-style: hidden;
  border-bottom: 1px solid grey;
}
