/* UTILITY */
* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

.bg_blue {
  background: #0C325A;
}

.bg_green {
  background: #7CBB02;
}

.bg_grey {
  background: #D3D3D3;
}
/* /UTILITY */

#site_header {
  height: 550px;
}

#site_content {
  height: 1000px;
}

#site_footer {
  height: 150px;
}

.container {
  width: 80%;
  height: 100%;
  margin: auto;
}

/*   SEZIONE NAVBAR */
.navbar {
  height: 80px;
  font-size: 11px;
  text-transform: uppercase;
}

.navbar::after {
  content: "";
  display: table;
  clear: both;
}

.navbar a {
  color: white;
  text-decoration: none;
}

.menu_left a:hover {
  color: orange;
}

.logo, .menu_left, .menu_right {
  float: left;
  color: white;
  line-height: 80px;
}

.logo {
  width: 15%;
  height: 100%;
  background-image: url('../img/logo.svg');
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: 0 39%;
}

.menu_left {
  width: 55%;
}

.menu_left a, .menu_right a {
  padding: 10px;
}

.menu_right {
  width: 30%;
  text-align: right;
}

#btn_border {
  border: 1px solid white;
  border-radius: 10px;
  padding: 10px 40px;
}

/* SEZIONE HERO */
.hero_image {
  position: relative;
  height: calc(550px - 80px);
}

.hero_text {
  width: 50%;
  color: white;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.hero_text h1 {
  font-size: 3.5em;
  font-weight: 500;
  margin-bottom: 50px;
}

.btn {
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 10px;
  padding: 20px 10px;
}

.hero_container {
  background-image: url('../img/banner_header.png');
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: 106% 110%;
}

/* SEZIONE MAIN */
.row::after {
  content: "";
  display: table;
  clear: both;
}

.row {
  border: 1px solid red;
  height: 50%;
}

.col_3 {
  float: left;
  width: 33.33%;
  height: 100%;
  border: 1px solid black;
}

.col_2 {
  float: left;
  width: 50%;
  height: 100%;
  border: 1px solid black;
}
